.quiz-area{
    display: none;
    text-align: center;
    margin-top: 10%;


}

.btn{
    background-color:rgba(35, 119, 119, 0.575) ;
    border-style: solid;
    padding: 20px;
    padding-top: 5px;
    height: 10px;
    width: 150px;
    border-radius: 5px;
    
}